.App {
    min-height: 100vh;
    background-image: linear-gradient(to bottom, var(--Soft-violet), var(--Soft-blue));
    padding: 148px 24px;
    /* opacity: 0; */
    font-family: "KumbhSans", sans-serif;
}

@media (min-width: 1200px) {
    .App {
        width: 100vw;
        height: 100vh;
        padding: 0;
        padding-top: 128px;
        padding-bottom: 132px;
        /* display: flex;
        justify-content: center; */
    }
}

@font-face {
    font-family: "KumbhSans";
    font-weight: 400;
    src: url("./KumbhSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "KumbhSans";
    font-weight: 700;
    src: url("./KumbhSans-Bold.ttf") format("truetype");
}